<div id="basic-info">
    <h1><%= @siege.name%></h1>
    <h2>Target: <%= @siege.target.name %></h2>
    <%= link_to "Edit Siege Properties", edit_siege_path(@siege) %>
</div>
<div id="siege_forces">
    <h3>Siege Forces</h3>
    <table id="siege_data">
        <tr>
            <th>Player</th>
            <th>Town</th>
            <th>Destination</th>
            <th>Troops</th>
            <th>Speed</th>
            <th>Comments</th>
            <th>Travel Time</th>
            <th>Departure Time</th>
        </tr>
        <% @siege_forces.each do |siege_force| %>
        <%= form_for(siege_force, :url => siege_siege_forces_url(@siege, siege_force)) do |f| %>
        <tr id="force">
            <td><%= siege_force.town.player.name %></td>
            <td><%= siege_force.town.name %></td>
            <td><%= f.select(:destination, siege_force.siege.positions.delete(' ').split(','), :selected => siege_force.destination ) %></td>
            <td><%= f.text_field(:troops, :value => siege_force.troops, :size => 4) %></td>
            <td><%= f.text_field(:speed, :value => siege_force.speed, :size => 4) %></td>
            <td><%= f.text_field(:comments, :value => siege_force.comments) %></td>
            <td><%= siege_force.travel_time %></td>
            <td class="time"><%= siege_force.departure_time(@arrival_times[:clearing_forces]) %></td>
            <td><%= link_to "Update", "", :id => "update_info", :value => siege_force.id %></td>
        </tr>
        <% end %>

        <% end %>

    </table>
</div>

<h3>Clearing Forces</h3>
<table id="siege_data">
    <tr>
        <th>Player</th>
        <th>Town</th>
        <th>Destination</th>
        <th>Troops</th>
        <th>Speed</th>
        <th>Comments</th>
        <th>Travel Time</th>
        <th>Departure Time</th>
    </tr>
    <% @clearing_forces.each do |siege_force| %>
    <%= form_for(siege_force, :url => siege_siege_forces_url(@siege, siege_force)) do |f| %>
    <tr id="force" class=<%= cycle('odd','even') %> >
        <td><%= siege_force.town.player.name %></td>
        <td><%= siege_force.town.name %></td>
        <td><%= f.select(:destination, siege_force.siege.positions.delete(' ').split(','), :selected => siege_force.destination ) %></td>
        <td><%= f.text_field(:troops, :value => siege_force.troops, :size => 4) %></td>
        <td><%= f.text_field(:speed, :value => siege_force.speed, :size => 4) %></td>
        <td><%= f.text_field(:comments, :value => siege_force.comments) %></td>
        <td><%= siege_force.travel_time %></td>
        <td class="time"><%= siege_force.departure_time(@arrival_times[:clearing_forces]) %></td>
        <td><%= link_to "Update", "", :id => "update_info", :value => siege_force.id %></td>
    </tr>
    <% end %>

    <% end %>

</table>

<h3>Reinforcements</h3>
<table id="siege_data">
    <tr>
        <th>Player</th>
        <th>Town</th>
        <th>Destination</th>
        <th>Troops</th>
        <th>Speed</th>
        <th>Comments</th>
        <th>Travel Time</th>
        <th>Departure Time</th>
    </tr>
    <% @reinforcements.each do |siege_force| %>
    <%= form_for(siege_force, :url => siege_siege_forces_url(@siege, siege_force)) do |f| %>
    <tr id="force" class=<%= cycle('odd','even') %> >
        <td><%= siege_force.town.player.name %></td>
        <td><%= siege_force.town.name %></td>
        <td><%= f.select(:destination, siege_force.siege.positions.delete(' ').split(','), :selected => siege_force.destination ) %></td>
        <td><%= f.text_field(:troops, :value => siege_force.troops, :size => 4) %></td>
        <td><%= f.text_field(:speed, :value => siege_force.speed, :size => 4) %></td>
        <td><%= f.text_field(:comments, :value => siege_force.comments) %></td>
        <td><%= siege_force.travel_time %></td>
        <td class="time"><%= siege_force.departure_time(@arrival_times[:clearing_forces]) %></td>
        <td><%= link_to "Update", "", :id => "update_info", :value => siege_force.id %></td>
    </tr>
    <% end %>

    <% end %>

</table>

<script>
$("a#update_info").click( function() {
    value = $(this).attr("value");
  $.ajax({
        type: "POST",
        url: "/sieges/<%= params[:id] %>/siege_forces/"+value,
        data: $("#edit_siege_force_"+value).serializeArray(),
        dataType: "json",
      success: function(){
          $("tr#force").show().effect("highlight", {}, 3000).fadeOut(1000);
    }
  });
});
</script>