<h1>Search for a Town</h1>
<h2>By Coordinates</h2>
<%= form_tag find_towns_path, :method => :get %>
X: <%= text_field_tag :x_field %>
Y: <%= text_field_tag :y_field %>
<%= hidden_field_tag :search_type, "coordinates" %>
<h2>By Name</h2>
</form>
<%= form_tag find_towns_path, :method => :get %>
Name: <%= text_field_tag :town_name %>
<%= hidden_field_tag :search_type, "name" %>
</form>