<h1><%= @town.name %></h1>
<%= link_to "View in Illyriad", "http://uk1.illyriad.co.uk/view_map.asp?Radius=5&CenterX=#{@town.x}&CenterY=#{@town.y}"%>
<ul id="town_info">
    <li>Owner: <%= link_to(@town.player.name, player_path(@town.player)) %></li>
    <li>Alliance: <%= @town.player.alliance.name %></li>
    <li>Population: <%= @town.population %></li>
    <li>Coordinates <%= "#{@town.x} | #{@town.y}" %></li>
</ul>
<br />

<% if user_signed_in? %>
    <%= link_to("Find towns by proximity", options_calculation_path(Calculation.first.id, :town_id => @town.id) ) %>
    <br />
    <br />
    <%= form_tag :action => :add_to_siege %>
        <label>Add to <u><%= @siege.name %></u> as</label><%= select_role_in_siege('Siege Forces','Reinforcements','Clearing Forces')%>
        <label>Destination</label><%= select_siege_position(@siege.position_coordinates) %>
        <label>Troops</label><%= text_field_tag :troops %>
        <label>Speed</label><%= text_field_tag :speed %>
        <%= submit_tag "Add" %>
       
    </form>
    <br />
    <%= link_to "Siege This Town", new_siege_path(:town_id => @town) %>
<% end %>
