<% cache(:key => Digest::SHA1.hexdigest(params.to_s)) do %>
<% unless @report_items.blank? %>
<%= @report_items.size %> valid results for town <b><%= @town.name %></b>
  <table>
    <tr>
      <th>Town Name</th>
      <th>Town Owner</th>
      <th>Population</th>
      <th>Alliance</th>
      <th>Time (speed <%= @speed %>) </th>
      <th>Siege Time</th>
    </tr>
  <% @report_items.each do |report_item| %>
    <tr>
      <td><%= link_to report_item[:town].name, town_path(report_item[:town]) %></td>
      <td><%= link_to report_item[:town].player.name, player_path(report_item[:town].player) %></td>
      <td><%= report_item[:town].population %></td>
      <td><%= link_to_alliance(report_item[:town].player) %></td>
      <td><%= format_time(report_item[:time]) %></td>
      <td><%= format_siege_time report_item[:distance] %></td>
	  <td><%= link_to "view", "http://uk1.illyriad.co.uk/view_map.asp?Radius=5&CenterX=#{report_item[:town].x}&CenterY=#{report_item[:town].y}"%></td>
      <td><%= link_to "calculate", "http://illyriad-data.heroku.com/calculations/1/results?time=12&speed=5&alliances=Harmless%3F&max_results=&calculation_type=NearestCalculation&town_id=#{report_item[:town].id}&commit=submit" %>
    </tr>
  <% end %>
</table>
BB Code: removed until its not broken
<% end %>
<% unless @reinforcements.blank? %>
<h2>Reinforcements</h2>
<table>
  <tr>
    <th>Town Name</th>
    <th>Town Owner</th>
    <th>Population</th>
    <th>Alliance</th>
    <th>Time</th>
  </tr>
  <% @reinforcements.each do |report_item| %>
    <tr>
      <td><%= link_to report_item[:town].name, town_path(report_item[:town]) %></td>
      <td><%= link_to report_item[:town].player.name, player_path(report_item[:town].player) %></td>
      <td><%= report_item[:town].population %></td>
      <td><%= report_item[:town].player.alliance ? link_to(report_item[:town].player.alliance.name, alliance_path(report_item[:town].player.alliance)) : "No Alliance" %></td>
      <td><%= format_time(report_item[:time]) %></td>
    </tr>
  <% end %>
<% puts "" %>
<% puts "Reinforcements from #{@reinforcements.first[:town].player.alliance.name}" %>
BB Code: removed until its not broken 
</table>
<% end %>
<% end %>
