<% cache(:key => Digest::SHA1.hexdigest(params.to_s)) do %>
<% unless @report_items.blank? %>
<%= @report_items.size %> valid results
  <table>
    <tr>
      <th>Town Name</th>
      <th>Town Owner</th>
      <th>Population</th>
      <th>Alliance</th>
      <th>Time</th>
      <th>Siege Time</th>
    </tr>
  <% @report_items.each do |report_item| %>
    <tr>
      <td><%= link_to report_item[:town].name, town_path(report_item[:town]) %></td>
      <td><%= link_to report_item[:town].player.name, player_path(report_item[:town].player) %></td>
      <td><%= report_item[:town].population %></td>
      <td><%= report_item[:town].player.alliance ? link_to(report_item[:town].player.alliance.name, alliance_path(report_item[:town].player.alliance)) : "No Alliance" %></td>
      <td><%= format_time(report_item[:time]) %></td>
      <td><%= format_siege_time report_item[:distance] %></td>
    </tr>
  <% end %>
</table>
[corners=forumbg forumbg-table][table=tablebg table1]
[thread]
[tr]
[th=1]Town[/th]
[th=1]Player[/th]
[th=1]Population[/th]
[th=1]time[/th]
[th=1]siege time[/th]
[/tr]
[/thread]
[tbody]
<% @report_items.each do |report_item| %>
[tr]
[td=1]<%= report_item[:town].name %>[/td]
[td=1]<%= report_item[:town].player.name %>[/td]
[td=1]<%= report_item[:town].population %>[/td]
[td=1]<%= format_time report_item[:time] %>[/td]
[td=1]<%= format_siege_time report_item[:distance] %>[/td]
[/tr]
<% end %>
[/tbody]
[/table][/corners]
<% end %>
<% unless @reinforcements.blank? %>
<h2>Reinforcements</h2>
<table>
  <tr>
    <th>Town Name</th>
    <th>Town Owner</th>
    <th>Population</th>
    <th>Alliance</th>
    <th>Time</th>
  </tr>
  <% @reinforcements.each do |report_item| %>
    <tr>
      <td><%= link_to report_item[:town].name, town_path(report_item[:town]) %></td>
      <td><%= link_to report_item[:town].player.name, player_path(report_item[:town].player) %></td>
      <td><%= report_item[:town].population %></td>
      <td><%= report_item[:town].player.alliance ? link_to(report_item[:town].player.alliance.name, alliance_path(report_item[:town].player.alliance)) : "No Alliance" %></td>
      <td><%= format_time(report_item[:time]) %></td>
    </tr>
  <% end %>
</table>
<% end %>
<% end %>