<!DOCTYPE html>
<html>
<head>
  <title>Illyriad</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
    
    
    <div id="top">
        <%= link_to "Statistics", root_path %>
        <%= link_to "Alliances Index", alliances_path %>
        <%= link_to "Players index", players_path %>
        <%= link_to "Towns index", towns_path %>
        <%= link_to "Sign in", new_user_session_path %>
    </div>
    
    <hr>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    

<%= yield %>

</body>
</html>
