<!DOCTYPE html>
<html>
<head>
  <title><%= @town ? "Town: #{@town.name}" : "Towns" %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  
  <div id="top">
	<%= link_to "Statistics", root_path %>
    <%= link_to "Alliances Index", alliances_path %>
    <%= link_to "Players Index", players_path %>
    <%= link_to "Towns Index", towns_path %>
    <%= link_to "Siege Index", sieges_path %>
    <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path %>
    <% else %>
        <%= link_to "Sign in", new_user_session_path %>    
    <% end %>
  </div>
  
  <hr>
  
<div id="content">
<p style="color: green"><%= flash[:notice] %></p>
<p style="color: red"><%= flash[:alert] %></p>
<%= yield %>
</div>

</body>
</html>
